<thead>
    <tr>
        <th>Logo</th> <!--новая колонка в заголовке таблицы-->
        <th>Ticker</th>
        <th>Company</th>
        <th>Last close price</th>
    </tr>
</thead>
<tbody>
{% for stock in stocks %}
    <tr>
        <td> <!--новая колонка в теле таблицы-->
            {% if stock.logo %}
            <img src="{{ MEDIA_URL }}/{{ stock.logo }}" width="40" />
            {% endif %}
        </td> <!--новая колонка заканчивается здесь-->
        <td>{{ stock.ticker }}</td>
        <td>{{ stock.name }}</td>
        <td>{{ stock.get_random_price }}{{ stock.currency.sign }}</td>
    </tr>
{% endfor %}
</tbody>